<div class="container">
    <div class="text-center"><br>
         <h1><%= @sauna.name %>の情報を編集する</h1>
         <%= form_with model: @sauna, url: admin_saunas_update_path, method: :patch do |f| %>
         <div class="text-left">
         <table class="table">
             <tbody>
                 <tr>
                     <td>店名</td>
                     <td><%= f.text_field :name %></td>
                 </tr>
                 <tr>
                     <td>イメージ画像</td>
                     <td> <%= f.file_field :image, accept: "image/*" %></td>
                 </tr>
                 <tr>
                     <td>入浴料</td>
                     <td><%= f.text_field :price %>円</td>
                 </tr>
                 <tr>
                     <td>営業時間(〇〇:〇〇〜〇〇:〇〇)</td>
                     <td><%= f.text_field :business_hour %></td>
                 </tr>
                 <tr>
                     <td>サウナの室内温度</td>
                     <td><%= f.text_field :room_temperature %>℃</td>
                 </tr>
                 <tr>
                     <td>水風呂の温度</td>
                     <td><%= f.text_field :water_temperature %>℃</td>
                 </tr>
                 <tr>
                     <td>都道府県</td>
                     <td><%= f.select :prefecture, Sauna.prefectures.keys, {}, {class: 'hoge'} %></td>
                 </tr>
                 <tr>
                     <td>住所</td>
                     <td><%= f.text_field :address %></td>
                 </tr>
                 <tr>
                     <td><%= f.submit '保存', class: "btn btn-success" %></td>
                     <td><%= link_to "削除", admin_saunas_destroy_path(@sauna), method: :delete, class: "btn btn-danger" %></td>
                 </tr>
             </tbody>
         </table>
         </div>
         <% end %>
    </div>
</div>



