<div class="container">
    <div class="text-left"><br>
        <h1>新規店舗情報を投稿する</h1>
        <p>画像項目も含め、入力は必須です</p>
        <%= form_with model: @sauna, url: admin_saunas_create_path, method: :post do |f| %>
        <table class="table">
            <tr>
                <td>店名</td>
                <td><%= f.text_field :name %></td>
            </tr>
            <tr>
                <td>店のイメージ</td>
                <td><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
                <td>入浴料</td>
                <td><%= f.text_field :price %>円</td>
            </tr>
            <tr>
                <td>営業時間(〇〇:〇〇〜〇〇:〇〇)</td>
                <td><%= f.text_field :business_hour %></td>
            </tr>
            <tr>
                <td>サウナの室内温度</td>
                <td><%= f.text_field :room_temperature %>℃</td>
            </tr>
            <tr>
                <td>水風呂の温度</td>
                <td><%= f.text_field :water_temperature %>℃</td>
            </tr>
            <tr>
                <td>都道府県</td>
                <td><%= f.select :prefecture, Sauna.prefectures.keys, {}, {class: 'hoge'} %></td>
            </tr>
            <tr>
                <td>住所</td>
                <td><%= f.text_field :address %></td>
                <td><%= f.submit '作成する', class: "btn btn-success" %></td>
            </tr>
        </table>
        <% end %>
    </div>
</div>


