<div class="container">
    <div class="text-left">
        <h1><%= @review.user.last_name + @review.user.first_name %>さんのレビュー</h1>
        <h3><%= @review.content %></h3><br><br><br><br><br><br>
        <h1><%= @review.user.last_name + @review.user.first_name %>さんへのコメント</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>会員名</td>
                    <td>コメント内容</td>
                    <td>削除ボタン</td>
                </tr>
            </thead>
            <% @comments.each do |comment| %>
            <tbody>
                <tr>
                    <td><%= comment.user.last_name %><%= comment.user.first_name %></td>
                    <td><%= comment.content %></td>
                    <td><%= link_to "削除", admin_comments_destroy_path(@review, comment), method: :delete, class: "btn btn-danger" %></td>
                </tr>
            </tbody>
        </table>
        <% end %>
    </div>
</div>
