<h1>全国のサウナ一覧ページ</h1>

<% @saunas.each do |sauna| %>
<table>
    <tr>
        <td><% if sauna.image.attached? %>
              <%= image_tag sauna.image, size: "80x80" %>
            <% else %>
              <%= image_tag 'no_image', size: "80x80" %>
            <% end %>
        </td>
        <td><%= link_to sauna.name, public_saunas_show_path(sauna) %></td>
        <td><%= sauna.price %>円</td>
        <td><%= sauna.prefecture %></td>
        <td><%= sauna.address %></td>
        <td>レビュー：<%= link_to "#{sauna.reviews.count}件", public_sauna_reviews_path(sauna) %></td>
        <td><div id="review_star<%= sauna.id %>"></td>
    </tr>
</table>


<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#review_star<%= sauna.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: '<%= asset_path('star-half.png') %>',
    score: <%= sauna.reviews.average(:star).to_f.round(1) %>,
    readOnly: true,
  };
  raty(elem, opt);
});
</script>


<% end %>

<%= paginate @saunas %>