<div class="container">
  <div class="text-center">
    <h1><%= @sauna.name %>への行き方はこちら</h1>
      <p><strong>都道府県：</strong><%= @sauna.prefecture %></p>
      <p><strong>住所：</strong><%= @sauna.address %></p>
        <div id="map"></div>
          <style>
          #map {
          height: 500px;
          width: 100%;
          }
          </style>
  </div>
</div>

<script>
  function initMap() {
    var uluru = {lat: <%= @sauna.latitude %>, lng: <%= @sauna.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 16,
    center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
       }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAP'] %>&callback=initMap"async defer></script>