<h1><%= @sauna.name %>へのレビュー</h1>
<%= link_to "投稿フォーム", new_public_sauna_review_path(sauna_id: @sauna.id) %>

<% @reviews.each do |review| %>
<table>
    <tr>
        <td><%= review.id %></td>
        <td><%= review.user.last_name %><%= review.user.first_name %></td>
        <td><%= link_to review.content, edit_public_sauna_review_path(id: review.id) %></td>
        <td><%= link_to "このレビューにコメントする", public_comments_show_path(id: review.id, review_id: review.id, sauna_id: review.sauna_id) %></td>
    </tr>
    
</table>


<% end %>