<div class="container">
  <div class="text-center">
      <h2><%= @sauna.name %>についてのレビュー</h2>
        <div class="text-right">
          <%= link_to "レビューを書く", new_public_sauna_review_path(sauna_id: @sauna.id), class: "fa-solid fa-pen fa-beat" %>
        </div>
      <table class="table">
        <thead>
          <tr>
            <td>会員名</td>
            <td>レビュー内容<br>投稿者はリンク押下で編集、削除ができます
                <br>投稿者以外の方は編集ページには遷移できません</td>
            <td>星5段階評価</td>
            <td>レビューに対するコメント</td>
          </tr>
        </thead>
        <% @reviews.each do |review| %>
        <tbody>
        <tr>
          <td><%= review.user.last_name + review.user.first_name %></td>
          <td><%= link_to review.content, edit_public_sauna_review_path(id: review.id) %></td>
          <td><div id="review_star<%= review.id%>"></div></td>
          <td><%= link_to "#{review.comments.count}件", public_comments_show_path(id: review.id, review_id: review.id, sauna_id: review.sauna_id) %></td>
        </tbody>
           <script>
            $(document).on('turbolinks:load', function() {
              let elem = document.querySelector('#review_star<%= review.id %>');
              if (elem == null) return;
                elem.innerHTML = "";
              let opt = {  
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              score: "<%= review.star %>",
              readOnly: true,
              };
              raty(elem, opt);
              });
           </script>
        <% end %>
      </table>
  </div>
</div>
