<h1>投稿フォーム</h1>
<%= form_with model: [@sauna, @review],  url: public_sauna_reviews_create_path, method: :post do |f| %>
<p>コメント：<%= f.text_area :content %></p>


<div class="form-group" id="star">
      <%= f.label :評価 %>
      <%= f.hidden_field :rate, value: 0, id: :review_star, class: 'form-control' %>
      <div id="review_raty"></div>
</div>
    
<%= f.submit '保存' %>



<% end %>

    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#review_raty');
        if (elem == null) return;
  
        elem.innerHTML = ""
        let opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          scoreName: 'review[star]',
        };
        raty(elem, opt);
      });
    </script>