<div class="container">
    <div class="text-left"><br>
        <h1>レビューを投稿する</h1>
        <p class="text-danger">※空の記述内容、評価は投稿できません。</p>
    </div>
    <% if @review.errors.any? %>
       <%= @review.errors.count %>件のエラーが発生しました
    <ul>
       <% @review.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
    </ul>
    <% end %>
    <%= form_with model: [@sauna, @review],  url: public_sauna_reviews_create_path, method: :post do |f| %>
    <table class="table">
        <tr>
            <td>レビューを記述する</td>
            <td><%= f.text_area :content, :size => "60x10" %></td>
        </tr>
        <tr>
            <td>評価する</td>
            <td><div class="form-group" id="star">
                <%= f.hidden_field :rate, value: 0, id: :review_star, class: 'form-control' %>
                <div id="review_raty"></div>
                </div>
            </td>
            <td><%= f.submit '投稿', class: "btn btn-success" %></td>
        </tr>
    </table>
    <% end %>
</div>
   <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#review_raty');
        if (elem == null) return;
  
        elem.innerHTML = ""
        let opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          scoreName: 'review[star]',
        };
        raty(elem, opt);
      });
    </script>