
<div class="container">
    <div class="text-left">
            <h2>会員情報編集</h2>
            <p class="text-danger">※入力欄が空の状態では保存できません。</p>
            <% if @user.errors.any? %>
              <%= @user.errors.count %>件のエラーが発生しました
            <ul>
              <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
            <% end %>
            <%= form_with model: @user, url: public_users_infomation_path, method: :patch do |f| %>
            <table class="table">
                <thead>
                    <tr>
                        <td>名前</td>
                        <td>(姓)<%= f.text_field :last_name %></td>
                        <td>(名)<%= f.text_field :first_name %></td>
                    </tr>
                    <tr>
                        <td>フリガナ</td>
                        <td>(セイ)<%= f.text_field :last_name_kana %></td>
                        <td>(メイ)<%= f.text_field :first_name_kana %></td>
                    </tr>
                    <tr>
                        <td>郵便番号</td>
                        <td><%= f.text_field :postcode %></td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td><%= f.text_field :address, size: 42 %></td>
                    </tr>
                    <tr>
                        <td>電話番号</td>
                        <td><%= f.text_field :telephone_number %></td>
                    </tr>
                    <tr>
                        <td>生年月日</td>
                        <td><%= f.text_field :birthday %></td>
                    </tr>
                    <tr>
                        <td>メールアドレス</td>
                        <td><%= f.text_field :email %></td>
                    </tr>
                    <tr>
                        <td><%= f.submit '保存', class: "btn btn-success" %></td>
                        <td><%= link_to "退会する", public_users_unsubscribe_path, class: "btn btn-warning" %></td>
                    </tr>
                </thead>
            </table>
            <% end %>
        </div>
    </div>



